@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


header {
    background-color: #570772;
    color: white;
  
}

body{
    font-family: 'Poppins', sans-serif;
}


.list-comp{
    background-color: #2D033B;
    color: white;
    width: 60vw;
    height: 500px;
    border-radius: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    span{
        color:#bc07f8 ;
    }

    a{
        background-color: #bc07f8;
        text-align: center;
        margin: 2px auto;
        padding: 10px 50px;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        font-weight: 600;
        letter-spacing: 2px;
        transition: 0.5s;
        &:hover{
            background-color: #7d06a5;
            transition: all 0.5s;
        }
    }
}